# Created by .ignore support plugin (hsz.mobi)
dash/cache.zip
.ivy2/
.coursier/
*.class
*.log
.cache
.history
.lib/
dist/*
classes/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target
.scala_dependencies
.worksheet
bin/
/db
.eclipse
/lib/
/logs/
/modules
target/
tmp/
test-result
server.pid
*.eml
/dist/
.idea/
*.iml
*.iws
.bloop/
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.DS_Store
common-utils/rocks-db-test
*.zip
!/quality-thread/src/main/resources/rtcpxr_mos_model.zip
node_modules/
/api/typescript/package-lock.json
/api/typescript/package.json
.testcontainers-tmp-*
allure-report
resources/application.conf
.gcroots/
.sbt/
*.ignore
dumps/
common-utils/mongo-utils/test-output
*.swp
.vscode/
project/metals.sbt
.bsp/
common-utils/fs2-rx/test-output
target
.env
# Metals
.metals/
.bloop/
.ammonite/
metals.sbt
.gitsecret/keys/random_seed
!*.secret
ops/test.txt